/*Basic Site Styling*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
    background: url(images/homevid.mp4)-no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

/*Homepage Video Styled*/

.video-container{
    width: 1980px; height: 720px;
    position: fixed;
    display:inline-block;
    margin: 0px;
  }
  
  .video-container video{
    position: fixed; 
    top: 0; left:0;
    width: 100%; height: 100%; 
    z-index: -1;
  }

  /*Navigation Bar*/

  header{
    width 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: rgba(5, 3, 69, 0.2);
  }

  /*Sound Fusion Logo*/
  .logo{ 
    cursor: pointer;
  }

  /*Nav Bar*/
  nav li{
    display: inline-block;
    list-style:none
    padding: 0px 20px
  }
  a button{
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
  button{
    background: rgba(16, 5, 70, 0.327);
    border: 2px solid #fd5e53;
    border-radius: 50px;
    padding: 9px 25px;
  }
  nav li a:hover{
    color: #fd5e53;
    transition: all 0.4s ease 0s;
  }